{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Categories</h1>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Label</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Enabled</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.label }}</td>
                <td>{{ category.createdAt ? category.createdAt|format_datetime('full', 'short') : '' }}</td>
                <td>{{ category.updatedAt ? category.updatedAt|format_datetime('full', 'short') : '' }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input cat-visibility-switch" type="checkbox" id="switch-{{ category.id }}"
                               {% if category.enabled %}checked{% endif %} data-id="{{ category.id }}">
                        <label class="form-check-label" for="switch-{{ category.id }}"></label>
                    </div>
                    <span class="badge bg-{{ category.enabled ? 'success' : 'danger' }}" id="badge-{{ category.id }}">
                        {{ category.enabled ? 'yes' : 'no' }}
                    </span>
                </td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('app.admin.categories.item', {'id': category.id}) }}">show</a>
                    <a class="btn btn-warning"
                       href="{{ path('app.admin.categories.edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app.admin.categories.create') }}">Create new</a>
{% endblock %}
