{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.content }}</p>
                    <p class="card-text">Published on {{ article.createdAt|format_datetime('full', 'none') }}
                        by {{ article.author.username }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app.admin.articles.edit', {'slug': article.slug}) }}"
                       class="btn btn-warning">Edit</a>
                    <a href="" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



